.directory

.venv/

draft/

*.spass

env/
.env

./__pycache__/

./src/unsealer.egg-info/

__pycache__/

build/
dist/
bin/
*.spec


__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

.DS_Store
.directory